body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.title {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
}

.respostes{
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #f0f0f0;
}

.resposta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.slot {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 5px;
    font-size: 18px;
    background-color: #fff;
}

.slot.green {
    background-color: #29e07d;
}

.slot.red {
    background-color: rgba(236, 54, 54, 0.61);
}

.slot.yellow {
    background-color: #fff08c;
}


.panel-title {
        text-align: center;
        padding: 10px;
        background-color: #333;
        color: #ffffff;
        bottom: 0;
        left: 0;
        width: 100%;
    }
/* TODO Posar caixeta per poder escriure i enviar paraula
/* TODO Si la paraula no existeix (enllaçar amb el diccionari) o té més de 5 lletres posar advertència de que no es pot fer*/
/* TODO Posar botó per que quan completis una paraula te deixi fer una altra paraula*/
/* TODO Crear finestra per les pistes i posar un màxim de pistes (3 pentura) i si les supera o acabar el joc o dir que no en té pus*/
/* TODO Donar forma i colocar correctament la casella d'escriure la paraula*/
/* TODO Cercar com i posar teclat per tenir dues opcions per escriure, posant de colors les lletres depenguent de la paraula*/
/*TODO Posar que quan he trobat la paraula secreta no deixi seguir amb la paraula*/