body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.title {
    text-align: center;
    padding: 10px;
    background-color: #e7a2a2;
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
}

.respostes{
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #f0f0f0;
}

.resposta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.slot {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 5px;
    font-size: 18px;
    background-color: #fff;
}

.slot.green {
    background-color: #29e07d;
}

.slot.red {
    background-color: rgba(236, 54, 54, 0.61);
}

.slot.yellow {
    background-color: #fff08c;
}


.panel-title {
        text-align: center;
        padding: 10px;
        background-color: #eadab3;
        color: #ffffff;
        bottom: 0;
        left: 0;
        width: 100%;
    }

#keyboard{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    max-width:min-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8px;

}

button {
    padding: 10px;
    font-size: 16px;
}

#botoEnviar{
    grid-template: revert;
    text-align: end;
    padding: 10px;
    background-color: #e74343;
    color: #ffffff;
    bottom: 20px;
    right: 20px;
}
#pista{
    color: #ffffff;
    background-color: #ffffff;

}

/* TODO Donar forma i colocar correctament la casella d'escriure la paraula*/